<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog</title>
  </head>
  <body>
    <main>
      <h1>Blog</h1>

      <ul>
        <li>
          <a href="/blog/pdm-vs-pcm/">PDM vs PCM in Embedded Audio</a>
        </li>
      </ul>
    </main>
  </body>
</html>